<div ng-controller="editController as edit">

    <h2>{{edit.model.description}}</h2>

    <div class="row">

        <div class="col-md-4" ng-repeat="category in edit.model.categories">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{category.description}}
                    <div class="pull-right">
                        <a ng-click="edit.addItem(category)"><i class="fa fa-plus-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="item in category.items">

                        <div class="panel-heading">
                                
                        </div>

                        <div class="panel-body">
                            <textarea class="form-control" ng-model="item.description"></textarea>
                        </div>

                        <div class="panel-footer">
                            <a class="btn btn-sm btn-primary" ng-click="edit.saveItem(category,item)">save</a>
                            <a class="btn btn-sm btn-danger"  ng-click="edit.deleteItem(category, item)">delete</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>