<div ng-controller="editController as edit">

    <h2>{{edit.model.description}}</h2>

    <div class="row">

        <div class="col-md-4" ng-repeat="category in edit.model.categories">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{category.description}}
                    <div class="pull-right">
                        <a ng-click="edit.addItem(category)"><i class="fa fa-plus-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="item in category.items" ng-click="edit.editItem(category,item)" style="cursor: pointer;">

                        <div class="panel-heading"></div>

                        <div class="panel-body">
                            <span>{{item.description}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editCtrl" tabindex="-1" role="dialog" aria-labelledby="editCtrlLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editCtrlLabel">{{edit.selectedCategory.description}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="edit.selectedItem.description"></textarea>

                    </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" ng-click="edit.deleteItem(edit.selectedCategory,edit.selectedItem)">Delete</a>
                    <button type="button" class="btn btn-primary" ng-click="edit.saveItem(edit.selectedCategory,edit.selectedItem)">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>