<div ng-controller="editController as edit">

    <h2>{{edit.model.description}}</h2>

    <div class="row">
        
        <div class="col-md-4" ng-repeat="category in edit.model.categories">
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{category.description}}
                    <div class="pull-right">
                        <a ng-click="edit.addItem(category)"><i class="fa fa-plus-circle fa-lg"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="note" ng-repeat="item in category.items">
                        <textarea ng-model="item.description"></textarea>

                        <div class="note-edit-ctrls">
                            <a ng-click="edit.saveItem(category,item)"><i class="fa fa-floppy-o"></i></a>
                            <a ng-click="edit.deleteItem(category, item)"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>