<div ng-controller="mainController as main">
    
    <div class="col-md-12">
        <h2>Boards</h2>    
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in main.items">
                        <td> <a href="/#/edit/{{item.id}}">{{ item.description }}</a> </td>
                        <td>{{ item.createdOn | date:'short' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <a href="#/add" class="btn btn-primary">Add</a>
        </div>
    </div>
</div>