<div ng-controller="mainController as main">

    <h2>Items</h2>

    {{ main.title }}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in main.items">
                        <td> <a href="/#/edit/{{item.id}}">{{ item.description }}</a> </td>
                        <td>{{ item.createdOn }}</td>
                        <td>{{ item.updatedOn }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">

        <div class="pull-right">
            <a href="#/add" class="btn btn-primary">Add</a>
        </div>
    </div>

</div>